<style>
.tutorial-custom h1 {
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.tutorial-custom h2 {
	margin-bottom: 2rem;
}
.tutorial-custom h3 {
	margin-bottom: 1rem;
}
</style>

<article role="article" lang="en" class="card">
	<div class="card__body tutorial-custom">	
		{{ content.body }}		 
	</div>
</article>